.navigation {
    text-align: center;
    list-style: none;
}

.navigation__list {
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.navigation__item {
    list-style: none;
    display: inline;
    margin-right: 30px;
    text-decoration: none;
}

.navigation__item:hover {
    color: hsl(27, 100%, 10%);
    border-bottom: 2px solid hsl(27, 100%, 10%);
    outline: none;
    font-weight: 1000;
}

.navigation__link {
    display: inline;
    color: hsl(27, 100%, 10%);
    text-decoration: none;
}