.section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: hwb(38 85% 4%);
    border-radius: 3px;
    padding: 10px 40px;
    border: 2px inset rgba(0, 0, 0, 0.411);
    width: auto;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.section__header {
    text-align: center;
}

.section--withTable {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1%;
    overflow-x: auto;
    border-collapse: collapse;
}


.section__link {
    color: #aa5d5d;
    text-decoration: none;
}

.section__link:hover {
    color: #d21a1a;
    border-bottom: 1px solid;
    outline: none;
}