html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: hsl(14, 16%, 75%);
    max-width: 1800px;
    min-width: none;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
}

.body--dark {
    color: #eee;
    background: #683c3c;
}